<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat</title>
</head>
<body>

<form id="login-form">
    <h1>Login</h1>
    <input type="text" id="username" placeholder="Username">
    <button type="submit">Login</button>
</form>

<div id="chat-box" class="container clearfix">
    <div class="people-list" id="people-list">

        <div class="connection-board">
            <label for="reconnect" class="reconnect-wrap">
                <input type="checkbox" id="reconnect">
                <label for="reconnect"></label>
                <span>Reconnect</span>
            </label>
        </div>

        <ul class="list"></ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img class="avatar" src="https://eu.ui-avatars.com/api/?name=avatar&background=86BB71&color=fff" alt="avatar" />
            <div class="chat-with"><span id="chat-username">Pavel</span> (you)</div>
            <a href="#" id="logout">Logout</a>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul></ul>
        </div> <!-- end chat-history -->

        <form id="chat-message" class="clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
            <button>Send</button>
        </form> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->

<template id="message-template">
    <li class="clearfix">
        <div class="message-data align-right">
            <span class="message-data-time">{{time}}</span> &nbsp; &nbsp;
            <span class="message-data-name">{{username}}</span> <i class="fa fa-circle me"></i>
        </div>
        <div class="message other-message float-right">
            {{messageText}}
        </div>
    </li>
</template>

<template id="message-response-template">
    <li>
        <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i> {{username}}</span>
            <span class="message-data-time">{{time}}</span>
        </div>
        <div class="message my-message">
            {{messageText}}
        </div>
    </li>
</template>

<template id="userlist-template">
    <li class="clearfix">
        <img src="https://eu.ui-avatars.com/api/?name={{iconName}}&background=94C2ED&color=fff" alt="avatar" />
        <div class="name">{{username}}</div>
    </li>
</template>

</body>
</html>
