@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

.container {
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
}

#login-form {
    max-width: 300px;
    background-color: #F2F5F8;
    border-radius: 5px;
    padding: 30px 30px 50px;
    margin: 0 auto 50px;
    display: none;
    
    h1 {
        text-align: center;
        color: #434651;
        font: 24px/30px "Lato", Arial, sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
    }

    button {
        float: right;
        color: #94C2ED;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;
    }
}

#chat-box {
    display: none;

    .people-list {
        width:260px;
        float: left;

        .connection-board {
            padding: 20px;
            height: 100px;
            border-bottom: 2px solid white;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .reconnect-wrap {
                //width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;

                #reconnect {
                    display: none;
                }

                label {
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                    background-color: #fff;
                    position: relative;
                    cursor: pointer;
                }

                #reconnect:checked + label {
                    &:before {
                        content: '';
                        display: block;
                        width: 12px;
                        height: 12px;
                        border-radius: 3px;
                        background-color: #86BB71;
                        position: absolute;
                        top: 4px;
                        left: 4px;
                    }
                }

                span {
                    display: block;
                    margin-left: 10px;
                }
            }
        }

        ul {
            padding: 20px;
            height: 750px;

            li {
                padding-bottom: 20px;
                display: flex;
                align-items: center;
            }
        }

        img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            float: left;
        }

        .name {
            padding-left: 8px;
        }

    }

    .chat {
        width: 490px;
        float:left;
        background: #F2F5F8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        color: #434651;

        .chat-header {
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 2px solid white;
            height: 100px;

            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }

            .chat-with {
                font-size: 16px;
                padding-left: 10px;

                #username {
                    font-weight: bold;
                }
            }

            #logout {
                color: darkred;
                margin-left: auto;
                text-decoration: none;
            }

            .chat-num-messages {
                color: $gray;
            }

            .fa-star {
                float: right;
                color: #D8DADF;
                font-size: 20px;
                margin-top: 12px;
            }
        }

        .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 575px;

            .message-data {
                margin-bottom: 15px;
            }

            .message-data-time {
                color: lighten($gray, 8%);
                padding-left: 6px;
            }

            .message {
                color: white;
                padding: 18px 20px;
                line-height: 26px;
                font-size: 16px;
                border-radius: 7px;
                margin-bottom: 30px;
                width: 90%;
                position: relative;

                &:after {
                    bottom: 100%;
                    left: 7%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: $green;
                    border-width: 10px;
                    margin-left: -10px;
                }
            }

            .my-message {
                background: $green;
            }

            .other-message {
                background: $blue;

                &:after {
                    border-bottom-color: $blue;
                    left: 93%;
                }
            }

        }

        #chat-message {
            display: block;
            padding: 30px;

            textarea {
                width: 100%;
                border: none;
                padding: 10px 20px;
                font: 14px/22px "Lato", Arial, sans-serif;
                margin-bottom: 10px;
                border-radius: 5px;
                resize: none;

            }

            .fa-file-o, .fa-file-image-o {
                font-size: 16px;
                color: gray;
                cursor: pointer;

            }

            button {
                float: right;
                color: $blue;
                font-size: 16px;
                text-transform: uppercase;
                border: none;
                cursor: pointer;
                font-weight: bold;
                background: #F2F5F8;

                &:hover {
                    color: darken($blue, 7%);
                }
            }
        }
    }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: $green;
}

.offline {
    color: $orange;
}

.me {
    color: $blue;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

