.wrap {
    max-width: 400px;
    margin: 0 auto;
}

#get-weather-form {
    display: flex;
    align-items: center;
}

#get-weather-form .btn {
    flex-shrink: 0;
}

.alert {
    display: none;
}

#hint {
    font-size: 14px;
}