body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    background-color: #1d4546;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #266765;
    border-radius: 50%;
}

#time {
    color: #f9bd25;
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    height: 120px;
}

#date {
    color: #f78901;
    font-size: 30px;
    text-align: center;
    height: 45px;
}